%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%%

{erl_opts, [debug_info,  warnings_as_errors, {parse_transform, lager_transform}]}.
{deps, [
        {rbeacon,
         {git, "https://github.com/pedro-gutierrez/rbeacon.git", {branch, "master"}}}
       ]}.
